#Ignore State file
terraform.tfstate.*
terraform.tfstate
tfcode/.terraform
tfcode/.terraform.lock.hcl

#Ignore images
*.png
*.jpg

#Ignore personal credentials
personal.auto.tfvars
#tfcode/terraform.tfstate
